img {
	width:400px;
	height: 250px;
}

body {
	background-color: black;
}

h1 {
	color: white;
	font-family: 'PT Sans Narrow', sans-serif;
	margin-left: 3%;
}
ul {
	list-style: none;
}

li {
	display: inline;
	margin-right: 20px;
}